*.pyc

/node_modules/
/config/deploy/

env/
www/video/
*.htaccess
*.project
*.sublime-project
*.sublime-workspace
*.htpasswd
.sass-cache/
error_log

mailer/lock/

ss-env/
media/
ss_com/settings/*

!ss_com/settings/template.py
!ss_com/settings/defaults.py
!ss_com/settings/__init__.py


