Options +FollowSymlinks
RewriteEngine on
RewriteBase /


<FilesMatch ".(ico|css|js|flv|f4v|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>


# Mobile redirection
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
#RewriteRule ^(.*)$ controllers/pageController.php?action=mobile [QSA,L]

# For most basic page requests, route them to the default page controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/*$ controllers/pageController.php?action=$1 [QSA,L]

# For any service requests, look in the services/ directory for the proper controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^services/([^/]+)/([^/]*)/*$ controllers/services/$1Controller.php?action=$2 [QSA,L]

# All other requests, look for controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]*)/*$ controllers/$1Controller.php?action=$2 [QSA,L]

# Default action, page loaded with nothing else
RewriteRule ^$ controllers/pageController.php?action=index [QSA,L]

AddType video/ogg ogv