<!doctype html>
<head></head>
<body style="margin:0; padding:0; min-height:100%;">
<div style="background:#FAFAFA; padding:10px;">
<div style="max-width:600px">
{{ text |safe }}
<div><img style="padding-top:25px;" src="http://www.steveshaddick.com/images/signature_small.gif" width="175" height="29" alt="Steve Shaddick" /></div>
</div>
</div>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#7d7d7d; margin-top:10px;">To unsubscribe from this newsletter, go here: <a href="http://www.steveshaddick.com/newsletter/unsubscribe/%unsub_num%/">http://www.steveshaddick.com/newsletter/unsubscribe/%unsub_num%/</a></p>
</body>
</html>
