<!doctype html><head></head>
<body style="margin:0; padding:0; min-height:100%;">
<div style="background:#FAFAFA; padding:10px;">
<div style="max-width:600px">
<h1 style="font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:16px;color:#333">Welcome to my newsletter</h1>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#7d7d7d">Thank you for signing up to my newsletter, it really does mean a lot that you want to keep in touch. Admittedly, it's pretty rare that I send anything out. But you'll find out firsthand one way or the other!</p>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#7d7d7d; margin-top:10px;">If you ever want out, just go to this link to unsubscribe: <a href="http://www.steveshaddick.com/newsletter/unsubscribe/{{ rando }}/">http://www.steveshaddick.com/newsletter/unsubscribe/{{ rando }}/</a></p>
<img style="padding-top:25px;" src="http://www.steveshaddick.com/static/img/signature_small.gif" width="175" height="29" alt="Steve Shaddick" />
</div>
</div>
</body>
</html>