{% load thumbnail %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Steve Shaddick</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

        <!-- <script src="js/vendor/modernizr-2.6.1.min.js"></script>-->
    </head>
    <body class="{%block page_class %}{% endblock %}">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="mainWrapper" class="main-wrapper">
            {%block content %}{% endblock %}
            <div class="work-wrapper clearfix">
                <div id="noWork" class="no-work">
                    <img src="{{ STATIC_URL }}img/me_blurry_70.gif" class="me-blurry out" alt="">
                    <div class="no-work-content">
                        {% if nowork.image %}
                            {% thumbnail nowork.image "800x800" as im %}
                                <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ nowork.title }}" title="{{ nowork.title }}">
                            {% endthumbnail %}
                        {%else%}
                            {%if nowork.url != '' %}<a href="{{ nowork.url }}">{%endif%}
                            <span class="title">{{ nowork.title }}</span>
                            {%if nowork.url != '' %}</a>{%endif%}
                        {%endif%}
                        {%if nowork.text != '' %}<span class="text">{{ nowork.text }}</span>{%endif%}
                    </div>
                </div>
            </div>

            <div id="thumbsWrapper" class="thumbs-wrapper">
                {%for work in all_work%}
                    <a id="work_{{ work.id }}" href="{{ work.slug }}"><img src="{{ work.thumb.url }}"></a>
                {%endfor%}
            </div>
        </div>

        <div id="whoWrapper" class="who-wrapper">
            <div class="bio-wrapper">
                {% thumbnail bio_pic.image "235" as im %}
                    <img class="bio-pic" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="" title="{{ bio_pic.title }}">
                {% endthumbnail %}
                <div class="bio-text">
                    {{ bio.text | safe}}
                    <a href="mailto:{{ bio.email }}">{{ bio.email }}</a>
                </div>
            </div>
        </div>

        <div id="footer" class="footer">
            <a title="Steve Shaddick" href="/#" id="signature" class="signature"><img alt="Steve Shaddick" src="{{ STATIC_URL }}img/signature.gif"></a>
            <a title="Who is this guy?" href="/#/who" class="who">Who?</a>
            <div class="transition" id="mailList">
                <label for="txtEmail" class="emailInput">Mailing List</label>

                <span id="mailListContent">
                    <span class="emailError displayNone" id="emailError">Please enter a valid email.</span>
                    <input type="text" maxlength="255" placeholder="Email address" id="txtEmail" name="txtEmail" class="emailInput">
                    <a onclick="MailList.submitEmail();" href="javascript:;)">› Add me to the list</a>&nbsp;&nbsp;&nbsp;
                </span>
            </div>
        </div>

        <table id="modalWrapper"><tr><td></td></tr></table>

        <div id="cls">
            
        </div>

        <script>document.write('<script src="{{ STATIC_URL }}js/jquery-2.0.2.min.js"><\/script>')</script>


        <script src="{{ STATIC_URL }}js/plugins.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.min.js"></script>
        <script>
        $(function() {
            Main.init({
                needUrlCheck: {%if need_url_check %}true{% else %}false{% endif %}
            });
        });
        </script>
        
        {%block scripts %}{% endblock %}


    </body>
</html>