{% load thumbnail %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Steve Shaddick</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}/favicon.ico">

        <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>

        <link href="{{ STATIC_URL }}lib/simplevideo/theme/sv-style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
    </head>
    <body class="regular {%block page_class %}{% endblock %}">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="mainWrapper" class="main-wrapper">
            {%block content %}{% endblock %}
            <div id="workWrapper" class="work-wrapper clearfix">
                <div class="work-content transition">
                    <div id="noWork" class="no-work">
                        <img src="{{ STATIC_URL }}img/me_blurry_70.gif" class="me-blurry out" alt="">
                        <div class="no-work-content">
                            {% if nowork.image %}
                                {% thumbnail nowork.image "800x500" as im %}
                                    <img class="no-work-image" src="{{ im.url }}" alt="{{ nowork.title }}" title="{{ nowork.title }}">
                                {% endthumbnail %}
                            {%else%}
                                {%if nowork.url != '' %}<a href="{{ nowork.url }}">{%endif%}
                                <span class="title">{{ nowork.title }}</span>
                                {%if nowork.url != '' %}</a>{%endif%}
                            {%endif%}
                            {%if nowork.text != '' %}<span class="text">{{ nowork.text }}</span>{%endif%}
                        </div>
                    </div>
                </div>
            </div>

            <div id="thumbsWrapper" class="thumbs-wrapper">
                {%for work in all_work%}
                    <div class="thumb-item-wrapper">
                        <a id="work_{{ work.id }}" href="/#/{{ work.slug }}" class="work-thumb" data-title="{{ work.title }}" data-type="{{ work.work_type }}"><img class='thumb-img' src="{{ work.thumb.url }}"></a>
                    </div>
                {%endfor%}
            </div>
        </div>

        <div id="whoWrapper" class="who-wrapper">
            {% thumbnail bio_pic.image "235" as im %}
                <img class="bio-pic" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="" title="{{ bio_pic.title }}">
            {% endthumbnail %}
            <div class="bio-text">
                {{ bio.text | safe}}
                <a href="mailto:{{ bio.email }}">{{ bio.email }}</a><br><br>
                <a id="whoBackLink" class="back-link" href="/#">Back to the work</a>
            </div>
            
        </div>

        <div id="footer" class="footer">
            <div class="footer-wrapper transition">
                <a title="Steve Shaddick" href="/#" id="signature" class="signature"><img alt="Steve Shaddick" src="{{ STATIC_URL }}img/signature.png"></a>
                <a title="Who is this guy?" href="/#/who" class="nav-link">Who?</a>
                <a title="The work" href="javascript:;" class="nav-link work">Work</a>
                <div class="transition" id="mailList">
                    <label for="txtEmail" class="email-input">Mailing List</label>

                    <span class="maillist-content">
                        <span class="email-error displayNone" id="emailError">Please enter a valid email.</span>
                        <input type="text" maxlength="255" placeholder="Email address" id="txtEmail" name="txtEmail" class="email-input">
                        <a onclick="MailList.submitEmail();" href="javascript:;)">› Add me to the list</a>&nbsp;&nbsp;&nbsp;
                    </span>
                </div>
            </div>
        </div>

        <div id="dropOverlay" class="drop-overlay"></div>

        <div id="alertOverlay" class="displayNone"><div id="alertOverlayBox"></div></div>
        <table id="modalWrapper"><tr><td></td></tr></table>

        <div id="cls">
            <div id="videoPlayerContainer">
                <div id="simpleVideo" class="simple-video">
                    <video class="sv_video inactive" title="SimpleVideo" width="100%" controls="false">
                        Something has gone wrong with the video.
                    </video>
                    <div class="sv_flashContainer"><div class="sv_noVideo"><span class="noFlash">Hmm, it looks like your browser can't handle this stuff. Annoying? <a href="http://xkcd.com/927/" target="_blank">Certainly</a>. In order to see video and hear audio, you'll either need a modern browser like <a href="https://www.google.com/chrome" target="_blank" title="Download Chrome">Chrome</a>.</span></div></div>
                    <div class="sv_audioOnly inactive">
                        <img src="{{ STATIC_URL }}lib/simplevideo/theme/audio-only.gif" alt="Audio Only" />
                    </div>
                    <div class="sv_display">
                        
                        <img class="sv_videoPoster" src="{{ STATIC_URL }}lib/simplevideo/theme/video-poster.gif" alt="" />
                        <div class="sv_buffering inactive">
                            <img class="sv_bufferingImg" src="{{ STATIC_URL }}lib/simplevideo/theme/buffering.gif" alt="buffering" />
                        </div>
                    </div>
                    <div class="sv_controls inactive">
                        <ul class="sv_controls_left">
                            <li><a href="javascript:;" class="sv_restart"></a></li>
                            <li><a href="javascript:;" class="sv_play"></a><a href="javascript:;" class="sv_pause inactive"></a></li>
                            <li><a href="javascript:;" class="sv_unmute inactive"></a></li>
                            <li><a href="javascript:;" class="sv_mute"></a></li>
                            <li><div class="sv_vslider"><a href="javascript:;" class="sv_vmarker"></a></div></li>
                            <li><a href="javascript:;" class="sv_vmax"></a></li>
                              
                        </ul>
                        <ul class="sv_controls_right">
                            <li><a href="javascript:;" class="sv_fullscreen"></a><a href="javascript:;" class="sv_normalscreen inactive"></a></li>
                        </ul>
                        <ul class="bottom">
                            <li><div class="sv_scrubber"><div class="sv_loaded"></div><div class="sv_playhead"></div><div class="sv_scrubberdrag"></div></div></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="video-swap"></div>

            <div class="work-content transition hold-high">
                <div class="work-text">
                    <h1></h1>
                    <span class="work-specs"></span><a class="work-link" target="_blank" href="javascript:;"></a>
                    <p class="work-info"></p> 
                </div>
            </div>

            <a class="web-container" href="javascript:;" target="_blank" title="Check it out">
                <img class="big-image" src="{{ STATIC_URL }}img/blank.gif" alt="">
                <img class="over transition" src="{{ STATIC_URL }}img/webwork-over.png" alt="Go">
            </a>

            <div class="four-oh-four-container"><div class="title">404</div><div class="text">Nope, nothing here.</div><a class="redirect-link" href="/">Maybe look at this instead.</a></div>

            <span class="thumb-over-info transition hold-high"><span class="title"></span><span class="type"></span></span>         
        </div>

        <script>document.write('<script src="{{ STATIC_URL }}js/jquery-2.0.2.min.js"><\/script>')</script>


        <script src="{{ STATIC_URL }}js/plugins.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.min.js"></script>
        <script>
        $(function() {
            Main.init({
                needUrlCheck: {%if need_url_check %}true{% else %}false{% endif %}
            });
        });
        </script>
        
        {%block scripts %}{% endblock %}
        {% include "ss_com/common/ga.html" %}

    </body>
</html>