@charset "utf-8";
/* CSS Document */

/******
 * General Styles
 */

html { height: 100%; }
body { 
	height: 100%; 
	background: #fafafa;
	font-family: 'Actor', sans-serif;
	color: #7d7d7d;
	font-weight: normal;
	font-style: normal;
	padding:0;
	margin:0;
	font-size:14px;
}

* {
	outline: 0;
}

#cls {
	display: none;
	height:0;
	width:0;
	position:absolute;
}

.transition {
	transition-timing-function: cubic-bezier(0.32, 0.12, 0.68, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.32, 0.12, 0.68, 0.94);
	-webkit-transition-timing-function: cubic-bezier(0.32, 0.12, 0.68, 0.94); 
	-o-transition-timing-function: cubic-bezier(0.32, 0.12, 0.68, 0.94);
	
	transition-property: width,height,top,left,right,opacity;
	-moz-transition-property: width,height,top,left,right,opacity;
	-webkit-transition-property: width,height,top,left,right,opacity;
	-o-transition-property: width,height,top,left,right,opacity;
	-ms-transition-property: width,height,top,left,right,opacity;
	
	transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-webkit-transition-duration: 0.35s; 
	-o-transition-duration: 0.35s; 
	-ms-transition-duration: 0.35s;
}

.displayNone {
	display: none !important;
	
	transition-property: none !important;
	-moz-transition-property: none !important;
	-webkit-transition-duration-property: none !important;
	-o-transition-duration-property: none !important;
	-ms-transition-duration-property: none !important;
}
.drop {
	position:absolute !important;
	top:100% !important;

	transition-timing-function: cubic-bezier(0.56,0,0.99,0.51) !important;
	-moz-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51) !important;
	-webkit-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51) !important; 
	-o-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51) !important;

	transition-duration: 0.75s !important;
	-moz-transition-duration: 0.75s !important;
	-webkit-transition-duration: 0.75s !important; 
	-o-transition-duration: 0.75s !important; 
	-ms-transition-duration: 0.75s !important;
}

.main-wrapper {
	width:80%;
	max-height:80%;
	max-width:900px;
	min-width:440px;
	margin: 0 auto;
}

.work-wrapper {
	width:100%;
	overflow-y: hidden;
	position: relative;
	margin-top:20px;
}

.work-content {
	position: relative;
	top:0;
	width:100%;

	&.hold-high {
		top: -800px;
	}
}

.no-work {
	position:relative;
	min-height:300px;

	.me-blurry {
		position:relative;
		float:left;
		left:0;

		transform:translate3d(0,0,0);
		-ms-transform:translate3d(0,0,0); /* IE 9 */
		-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
		
		transition: opacity 0.5s, left 1.5s;
		-webkit-transition: opacity 0.5s, left 1.5s;

		&.out {
			left:-80px;
			opacity: 0;
		}
	}
}
.no-work-content {
	padding-left:90px;
}
.no-work-image {
	max-width:100%;
}

.footer {
	position:fixed;
	z-index: 1000;
	left:0;
	bottom:0;
	width:100%;
	min-width:440px;
	background: url(../img/fafafa_90.png);

	.nav-link {
		color: #A0A0A0;
		font-size:14px;
		display:inline-block;
		margin:0 7px 0;
		position:relative;
		top:6px;
		&:hover {
			text-decoration: none;
			color:#7d7d7d;
		}
	}

	&.show-maillist {
		left: -380px;
		background: #FAFAFA;
	}
}

.who-wrapper {
	position:absolute;
	z-index:500;
	height:0;
	top:100%;
	width:100%;
	transition: top 0.5s, height 0.5s;
	-webkit-transition: top 0.5s, height 0.5s;
	background:#fafafa;
	overflow:hidden;

	.bio-wrapper {
		height:100%;
		width:100%;
	}
	.bio-pic {
		padding-left:25px;
		padding-top:25px;
		vertical-align: top;
	}

	.bio-text {
		width:40%;
		min-width:200px;
		max-width:500px;
		display:inline-block;
		padding-left:50px;
		padding-top:25px;
		padding-bottom:90px;

		p {
			margin-top:0;
		}

		.back-link {
			font-weight: bold;
		}
	}
}
.page-who {

	.main-wrapper {
		overflow:hidden;
		height:0;
		margin:0;
	}

	.who-wrapper {
		top:0;
		height:100%;
		overflow:auto;
	}

	.footer .who {
		display:none;
	}
}


.video-swap {
}
.work-text {
	h1 {
		color:#333;
		font-size: 24px;
		margin:10px 0 -7px;
	}
	.work-specs {
		color: #a0a0a0;
	}
	a {
		padding-left:10px;
		color:#a0a0a0;

		&:hover {
			text-decoration: none;
			color:#7d7d7d;
		}
	}
	p {
		margin:0.5em 0;
	}
}

.web-container {
	position:relative;

	.big-image {
		width:100%;
	}

	.over {
		position:absolute;
		top:50%;
		left:-50px;
		display: block;
		margin-left:-25px;
		margin-top:-25px;
	}

	&:hover {
		.over {
			left:50%;
		}
		.big-image {
			opacity: 0.75;
		}
	}
}




.thumbs-wrapper {
	margin-top:20px;
	padding:20px 0 90px;
	border-top:1px #c0c0c0 solid;
	position: relative;
}
.work-thumb {
	padding:5px;
	display:inline-block;

	img {
		width:50px;
		height:50px;
	}

	&.selected {
		background:#F1C100;
	}
}

.thumb-item-wrapper {
	position:relative;
	display:inline-block;
}

img.thumb-over-img {
	display:block;
	position:absolute;
	padding:5px;
	background:#fff;
	height:70px;
	width:70px;
	top:-20px;
	left:-10px;

	transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0); /* IE 9 */
	-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */

	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s; 
	-o-transition-duration: 0.25s; 
	-ms-transition-duration: 0.25s;

	-webkit-box-shadow:0 0 15px #7d7d7d; 
	-moz-box-shadow: 0 0 15px #7d7d7d; 
	box-shadow:0 0 15px #7d7d7d;

	z-index:100;

	&.small {
		top:0;
		left:0;
		height:50px;
		width:50px;
		z-index:50;
	}
}
.thumb-over-info {
	position:absolute;
	padding:5px;
	background:#fff;
	top:55px;
	left:-10px;
	opacity: 1;
	display:block;

	transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0); /* IE 9 */
	-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */

	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s; 
	-o-transition-duration: 0.25s; 
	-ms-transition-duration: 0.25s;

	-webkit-box-shadow:0 0 15px #7d7d7d; 
	-moz-box-shadow: 0 0 15px #7d7d7d; 
	box-shadow:0 0 15px #7d7d7d;

	z-index:50;

	&.hold-high {
		top: -500px;
		opacity:0;
	}

	&.drop {
		opacity: 0;
	}

	.title {
		font-weight: bold;
		display:block;
	}
	.type {
		color:#a0a0a0;
		display:block;
		margin-top:-3px;
		font-size:0.75em;
	}
}

.drop-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
	pointer-events:none;
	z-index: 900;
}


#mailList {
	font-size: 14px;
	width: 490px;
	position:absolute;
	right:-410px;
	bottom:0;
	z-index: 100000;
	height:30px;

	input{
		line-height:28px;
		width:260px;
		background:#e6e6e6;
		margin:0 5px;
		border:none;
		padding:5px;
		
	}

	label{
		color: #A0A0A0;
	}

	a{
		font-size: 12px;
	}

}

#mailListContent {
	position: relative;
	left:100px;
}
.show-maillist #mailListContent {
	left:0;
}

.emailError {
	color:#6d1111;
	position:absolute;
	left:5px;
	top:-20px;
}

#alertOverlay {
	position:fixed;
	z-index:1000000;
	background:url('../img/fafafa_85.png');
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#alertOverlayBox {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 200px auto;
    padding: 25px;
    width: 400px;

    -moz-box-shadow:    0 2px 3px 1px #ddd;
  	-webkit-box-shadow: 0 2px 3px 1px #ddd;
  	box-shadow:         0 2px 3px 1px #ddd;

}

.emailAlertContent {
	word-wrap: break-word;
}


.small-page {

	.container {
		width:460px;
		margin: 0 auto;
		padding-top:20px;
	}

	.text-content {
		display:inline-block;
		width:370px;
		margin-left:10px;
	}

	.blurry {
		vertical-align: top;
	}
}












.displayBlock {
	display: block;
}
.zActive {
	z-index:50;
}

.clearBoth {
	clear:both;
}

a {
	text-decoration: none;
	color:#535353;
}
a:hover {
	text-decoration: underline;
}

.dropIn {
	top: -25px;

	-moz-transition-duration: 0.35s;
	-webkit-transition-duration: 0.35s; 
	-o-transition-duration: 0.35s; 
	-ms-transition-duration: 0.35s;
}

.dropOut {
	
	-moz-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51);
	-webkit-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51); 
	-o-transition-timing-function: cubic-bezier(0.56,0,0.99,0.51);
	
	-moz-transition-duration: 0.75s;
	-webkit-transition-duration: 0.75s; 
	-o-transition-duration: 0.75s; 
	-ms-transition-duration: 0.75s;
}

.reset {

	-moz-transition-duration: 0s;
	-webkit-transition-duration: 0s; 
	-o-transition-duration: 0s; 
	-ms-transition-duration: 0s;
}

.fullscreenWarning {
	background: url("/images/7d7d7d_50.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100000;
}
.warningBox {
	background: none repeat scroll 0 0 #FAFAFA;
    margin: 0 auto;
    padding: 25px;
    width: 500px;
}
.warningBox .title{
	font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom:25px;
}

.warningBox p {
	 margin-bottom:15px;
}

.warningBox a {
	color: #000000;
}

.okayLink {
	background: none repeat scroll 0 0 #989999;
    display: block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 25px auto 0;
    text-align: center;
    width: 200px;
}
.okayLink:hover {
	background:#CCCCCC;
}

.centre {
	text-align: center;
}



#siteWrapper {
	width:100%;
	height: 100%;
	overflow: hidden;
	position:absolute;
	top:0;
	left:0;
	
	min-width: 790px;
	min-height: 550px;
	
	max-width:1600px;
	margin: 0 auto;
}
#siteWrapper.transition {
	-moz-transition-property: top,left;
	-webkit-transition-property: top,left;
	-o-transition-property: top,left;
	-ms-transition-property: top,left;
}
#siteWrapper.fullscreen {
	min-width: 0;
	min-height: 0;
	max-width: 0;
}


.pageWrapper {
	position:absolute;
	top:0;
	left:0;
	
	transition-duration: 0.75s;
	-moz-transition-duration: 0.75s;
	-webkit-transition-duration: 0.75s; 
	-o-transition-duration: 0.75s; 
	-ms-transition-duration: 0.75s;
}
.pageMoveContainer {
	position:absolute;
	top:0;
	left:0;
}

.pageDown {
	top:105%;
}
.pageUp {
	top: -105%;
}

#workContainer .dropIn {
	z-index: 50;
}




.noWorkToday .newWork {
	
}
.newWork .header {
	border-bottom: 1px solid #A0A0A0;
    margin-bottom: 25px;
    font-size:12px;
}

.newWork .workLink a{
	color: #535353;
}

.newWork .workInfo{
	position:static;
	margin-top:25px;
	width:450px;
}
.newWorkImage {
	margin-right:10px;
	vertical-align: middle;
}

.newWorkDetails {
	position:absolute;
	top:60px;
	left: 125px;
}

.quote {
	
}
.quoteText {
	
}
.quoteReference {
	color: #A0A0A0;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
}

.noWorkLink {
	
}

.checkIt {
	
}
.noWorkLink a{
	display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 0;
    word-wrap: break-word;
}
.noWorkLink .linkDescription {
	width: 500px;
	font-size: 14px;
	margin-top:5px;
}
.noWorkLink .image {
	max-width: 540px;
	max-height: 460px;
	margin-top: 5px;
}

#workContainer {
	height:100%;
}

#lightboxContainer,
#imageLink {
	position:absolute;
	left:25px;
	width:640px;
	height:360px;
	overflow:hidden;
}
#lightboxContainer.reset,
#imageLink.reset {
	top: -360px;
	
}
#lightboxContainer.dropIn,
#imageLink.dropIn {
	top: 25px;
}

#imageLinkImage {
	width:640px;
	height:360px;
	position:relative;
}
#imageLinkOver {
	top: 360px;
	position:absolute;
	left:0;
	
	
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s; 
	-o-transition-duration: 0.25s; 
	-ms-transition-duration: 0.25s;
}
#imageLinkLink:hover #imageLinkOver {
	top: 0;
}

.workInfo {
	left: 25px;
	position:absolute;
	width:640px;
}
.workInfo.reset {
	top: -50px;
}
.workInfo.dropIn {
	top: 405px;
}

.workTitle {
	font-size:24px;
	color:#333333;
}
.workSpecs {
	color:#a0a0a0;
	font-size:14px;
	
}
.workLink {
	color:inherit;
	margin-left: 15px;
}
.workDescription {
	margin-top:15px;
}

#jquery_jplayer_1-gui {
	position:absolute;
	height: 50px;
	top: 360px;
	width:640px;
	
	-moz-transition: top 0.5s; 
	-webkit-transition: -webkit-transform 0.5s; 
	-o-transition: top 0.5s; 
}
.regular #jquery_jplayer_1-gui.mouseOver {
	top: 310px;
}
.webkit #jquery_jplayer_1-gui.mouseOver {
	-webkit-transform: translate3d(0, -50px, 0);
}


.div.jp-controls-holder {
	width:auto;
}


.whoBody{
	margin: 100px 0 0 300px;
    top: 100px;
    width: 400px;
    font-size:14px;
}
.whoBody p {
	margin-bottom:10px;
}
.whoBody a{
	color: #7d7d7d;
}
.whoPic {
	top:150px;
	position:absolute;
	left:25px;
}

a#backLink {
	font-weight: bold;
}

.topThumbsGradient {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:25px;
	background: url('/images/fafafa_gradient.png') bottom repeat-x;
}
.bottomThumbsGradient {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50px;
	background: url('/images/fafafa_gradient.png') top repeat-x;
}

#workThumbsWrapper {
	overflow:hidden;
	position:absolute;
	left:665px;
	
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;  
	-o-transition-duration: 0.5s; 
	-ms-transition-duration: 0.5s; 
}

.iPhone #workThumbsWrapper,
.iPad #workThumbsWrapper
 {
 	overflow: auto;

 }

#workThumbsContainer {
	position:relative;
}


 
#workThumbsContainer.transition {
	-moz-transition-duration: 1.5s;
	-webkit-transition-duration: 1.5s;  
	-o-transition-duration: 1.5s; 
	-ms-transition-duration: 1.5s;
	
}

#thumbsScroller {
	width:5px;
	top:25px;
	left:0;
	position: absolute;
	
	-moz-transition-duration: 0.75s;
	-webkit-transition-duration: 0.75s;  
	-o-transition-duration: 0.75s; 
	-ms-transition-duration: 0.75s; 
	
}

.iPad #thumbsScroller,
.iPhone #thumbsScroller {
	display: none;
}

#thumbsScrollTrack{
	height: 100%;
    position: absolute;
    width: 100%;
	background: #DDDDDD;
}


#thumbsScrollThumb {
	width:5px;
	position:absolute;
	top: 0;
	background: #989999;
	display:block;
	
	-moz-transition-property: width,height;
	-webkit-transition-property: width,height;
	-o-transition-property: width,height;
	-ms-transition-property: width,height;
	
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;  
	-o-transition-duration: 0.25s; 
	-ms-transition-duration: 0.25s; 

}

#thumbsScrollThumb.mouseOver {
	background: #0b6695;
	width:10px;
}

#thumbsScrollThumb.none {
	width:0px;
}

.workThumb {
	
    position: absolute;
    top:-100px;
    cursor:pointer;
    
    
    
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;  
	-o-transition-duration: 0.25s; 
	-ms-transition-duration: 0.25s; 
}

.iPad .workThumb,
.iPhone .workThumb {
	position: static;
	float:left;
	-webkit-transition-property: -webkit-transform;  
}

.regular .workThumb.mouseOver {
	
	margin-top: -20px;
	margin-left: -10px;
	z-index: 100;
}
.webkit .workThumb.mouseOver {
	
	z-index: 100;
}


.thumbImage {
	width: 50px;
	height: 50px;
	border: 5px solid #fafafa;
	display:block;
	
	transition-duration: 0.25s !important;
	-moz-transition-duration: 0.25s !important;
	-webkit-transition-duration: 0.25s !important;  
	-o-transition-duration: 0.25s !important; 
	-ms-transition-duration: 0.25s !important; 
}

.webkit .thumbImage {
	-webkit-transition-property: -webkit-transform;
}

.workThumb.highlight {
	/*-webkit-box-shadow:0 0 2px #7d7d7d; 
	-moz-box-shadow: 0 0 2px #7d7d7d; 
	box-shadow:0 0 2px #7d7d7d;
	z-index:10;*/
}
.workThumb.highlight .thumbImage {
	border: 5px solid #f1c100;
}

.thumbImage.mouseOver {
	
	-webkit-box-shadow:0 0 15px #7d7d7d; 
	-moz-box-shadow: 0 0 15px #7d7d7d; 
	box-shadow:0 0 15px #7d7d7d;
}
.regular .thumbImage.mouseOver {
	width: 70px;
	height: 70px;
}
.webkit .thumbImage.mouseOver {
	-webkit-transform: scale(1.35) translate3d(0,-8px,0);
}

.workThumb .thumbInfo {
	display:none;
}
.workThumbContainer .thumbInfo{
	top: -30px;
} 	

.thumbInfo {
	
	font-size:12px;
	background: #ffffff;
	width: 125px;
	position: absolute;
	top:0;
	padding:5px;
	
}

.thumbInfo.dropIn {
	
	z-index:50;
	
	-webkit-box-shadow:0 0 15px #7d7d7d; 
	-moz-box-shadow: 0 0 15px #7d7d7d; 
	box-shadow:0 0 15px #7d7d7d;
}

.webkit .thumbInfo.dropIn,
.webkit .thumbInfo.dropOut {
	-webkit-transition-property: -webkit-transform;
}


.thumbTitle {
	font-size:14px;
	color: #333333;
}
.thumbMedium {
	color: #a0a0a0;
}



.resumePage {
	padding:20px;
	margin:8px;
}

.resumePage .signature {
	
}

.resumePage .contact {
	margin-top:0;
}

.resumePage p {
	margin:16px 0;
	max-width:600px;
	line-height:1.2em;
}

.resumePage h2 {
	font-size:40px;
	margin-bottom: 20px;
	margin-top:33px;
}

.resumePage .work-name {
	display:inline-block;
	width:300px;
	font-weight: bold;
}
.resumePage .work-time {
	display:inline-block;
}

.resumePage .work-jobtitle {
	display:block;
	font-size:14px;
}

.resumePage .work-block {
	margin-bottom:40px;
}
.resumePage .work-block p{
	margin-top:10px;
}
.resumePage .smaller{
	font-size: 0.75em;
}